<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>85701707774-clqfntlubcrgo42p99hskrnkjan4p5u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85701707774-clqfntlubcrgo42p99hskrnkjan4p5u6</string>
	<key>API_KEY</key>
	<string>AIzaSyDQiA_81RQWSMyjFdWZRRcRLDXUyoGo2RY</string>
	<key>GCM_SENDER_ID</key>
	<string>85701707774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>heli.TogetherApp</string>
	<key>PROJECT_ID</key>
	<string>together-442a3</string>
	<key>STORAGE_BUCKET</key>
	<string>together-442a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:85701707774:ios:10c8db0aaffa8e88</string>
	<key>DATABASE_URL</key>
	<string>https://together-442a3.firebaseio.com</string>
</dict>
</plist>